{{!-- шаблон карточки страны --}}
<div class="card">
    <h2>
        <img class="flag"src={{flags.svg}} >
        {{name}}
    </h2>
    <p><b>Capital:</b> {{capital}}</p> 
    <p><b>Population:</b> {{population}}</p>
    <p><b>Languages:</b> {{languages}}</p> 
</div>