{{#each this}}

    <h2>
        <svg href="{{flag}}" class="flag"> </svg>
        {{name}}
    </h2>
    <ul>
        <li><b>Capital:</b> {{capital}}</li> 
        <li><b>Population:</b> {{population}}</li>
        <li><b>Languages:</b> {{languages}}</li>
    </ul>

{{/each}}